<div id="about_page">

    <div class="page_intro">I love life and lots of things in it.</div>

    <div class="section">

        <div class="content">
            <img class="image" ng-src="/img/wedding.jpg" alt=""/>

            <div class="text">
                <div class="title">My Anchor</div>
                Without this beautiful mexican I'd be much less of a person. Aside from holding my world together she is also an amazing
                <a href="https://www.facebook.com/SparrowBleuPhotography">Photographer</a>.
            </div>
        </div>
    </div>

    <div class="section">

        <div class="content">
            <img class="image" ng-src="/img/violet.jpg" alt=""/>

            <div class="text">
                <div class="title">Violet</small></div>
                The greatest experience in life is to make it. We thank God for this one daily.
            </div>
        </div>
    </div>

    <div class="section">
        <div class="content">
            <img class="image" ng-src="/img/canon.jpg" alt=""/>

            <div class="text">
                <div class="title">Canon</div>
                Canon is a high energy
                <a href="http://en.wikipedia.org/wiki/Cockapoo" target="_blank">cockapoo</a>. He and I are a great match.
            </div>
        </div>
    </div>

    <div class="section">
        <div class="content">
            <img class="image" ng-src="/img/drums.jpg" alt=""/>

            <div class="text">
                <div class="title">Drums</div>
                Oh man, I sure do love me some good drummin'. Beats are always coming off my fingers and out of my mouth.  The beat goes on!
            </div>
        </div>
    </div>

    <div class="section">
        <div class="content">
            <img class="image" ng-src="/img/80s.jpg" alt=""/>

            <div class="text">
                <div class="title">1980's Child</div>
                My middle name is 'Cruz N'. Literally. Cause that's how cool the 80s are.
            </div>
        </div>
    </div>

</div>
