<div id="home_page">
    <img class="image" src="/img/logo.png" alt=""/>

    <div class="text">
        <div class="name">Levi Thomason</div>
        <div class="title">Web Developer</div>
    </div>
    <div class="social">
        <div class="site">
            <a href="https://www.github.com/levithomason" class="link" target="_blank">
                <div class="icon">
                    <i class="fa fa-github"></i>
                </div>
                @levithomason
            </a>
        </div>
        <div class="site">
            <a href="https://www.linkedin.com/in/levithomason" class="link" target="_blank">
                <div class="icon">
                    <i class="fa fa-linkedin"></i>
                </div>
                Levi Thomason
            </a>
        </div>
        <div class="site">
            <a href="http://plus.google.com/+levithomason7" class="link" target="_blank">
                <div class="icon">
                    <i class="fa fa-google-plus"></i>
                </div>
                +LeviThomason7
            </a>
        </div>
        <div class="site">
            <a href="https://twitter.com/levithomason7" class="link" target="_blank">
                <div class="icon">
                    <i class="fa fa-twitter"></i>
                </div>
                @levithomason7
            </a>
        </div>
        <div class="site">
            <a href="https://facebook.com/levi.thomason.7" class="link" target="_blank">
                <div class="icon">
                    <i class="fa fa-facebook"></i>
                </div>
                Levi Thomason
            </a>
        </div>
    </div>

</div>
