<div id="portfolio_page">

    <div class="page_intro">Design & Development</div>

    <div class="project">
        <h1 class="project_title">
            ScrapBin
            <div class="sub-heading">Contractor's material trading app</div>
        </h1>
        <div class="description">
            <a href="http://www.scrapbin.com" target="_blank">
                <i class="fa fa-rocket"></i>
                <span class="text">Launch now</span>
            </a>
        </div>
        <div class="preview">
            <img class="image" src="img/scrapbin-preview.gif" alt=""/>
        </div>
        <div class="info">
            <div class="features section">
                <div class="heading"><i class="icon fa fa-check"></i> Features</div>
                <ul class="list">
                    <li class="item">Post materials</li>
                    <li class="item">Customer Support</li>
                    <li class="item">OAuth + Multi-domain login</li>
                    <li class="item">Email notifications</li>
                    <li class="item">Instant Search Results</li>
                    <li class="item">Reverse Geolocation</li>
                    <li class="item">Responsive Design (fits any screen)</li>
                    <li class="item">App Tour</li>
                </ul>
            </div>
            <div class="services section">
                <div class="heading"><i class="icon fa fa-wrench"></i> My Work</div>
                <ul class="list">
                    <li class="item">Front-end Design & Development</li>
                    <li class="item">Architected LESS/CSS Framework</li>
                    <li class="item">Wireframes & Designs</li>
                    <li class="item">AngularJS / HTML5 / LESS / CSS</li>
                    <li class="item">User Interface / User Experience</li>
                </ul>
            </div>
            <div class="technologies section">
                <div class="heading"><i class="icon fa fa-cogs"></i> Technologies</div>
                <ul class="list">
                    <li class="item"><a target="_blank" href="https://www.python.org/">Python</a></li>
                    <li class="item"><a target="_blank" href="https://www.djangoproject.com/">Django</a></li>
                    <li class="item"><a target="_blank" href="https://www.angularjs.org/">AngularJS</a></li>
                    <li class="item"><a target="_blank" href="https://github.com/angular/protractor">Protractor</a></li>
                    <li class="item"><a target="_blank" href="http://requirejs.org/">RequireJS</a></li>
                    <li class="item"><a target="_blank" href="http://getbootstrap.com/">Twitter Bootstrap</a></li>
                    <li class="item"><a target="_blank" href="http://en.wikipedia.org/wiki/JavaScript">Javascript</a></li>
                    <li class="item"><a target="_blank" href="http://lesscss.org/">LESS</a></li>
                    <li class="item"><a target="_blank" href="http://en.wikipedia.org/wiki/Cascading_Style_Sheets">CSS3</a></li>
                    <li class="item"><a target="_blank" href="http://en.wikipedia.org/wiki/HTML5">HTML5</a></li>
                    <li class="item"><a target="_blank" href="https://www.heroku.com/">Heroku</a></li>
                    <li class="item"><a target="_blank" href="http://aws.amazon.com/s3/">Amazon S3</a></li>
                    <li class="item"><a target="_blank" href="https://mailgun.com/">Mailgun</a></li>
                    <li class="item"><a target="_blank" href="https://www.intercom.io/">Intercom</a></li>
                    <li class="item"><a target="_blank" href="http://www.postgresql.org/">PostgreSQL</a></li>
                    <li class="item"><a target="_blank" href="https://getsentry.com/">Sentry</a></li>
                    <li class="item"><a target="_blank" href="http://trackjs.com/">TrackJS</a></li>
                    <li class="item"><a target="_blank" href="https://circleci.com/">CircleCI</a></li>
                    <li class="item">...and many others!</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="project">
        <h1 class="project_title">
            SparrowBleu Photography
            <div class="sub-heading">Client Proofing Galleries</div>
        </h1>
        <div class="description">
            <a href="http://proofing.sparrowbleuphotography.com" target="_blank">
                <i class="fa fa-rocket"></i>
                <span class="text">Launch now</span>
            </a>
            use passcode "<b>demo123</b>".
        </div>
        <div class="preview">
            <img class="image" src="img/sparrowbleu-preview.jpg" alt=""/>
        </div>
        <div class="info">
            <div class="features section">
                <div class="heading"><i class="icon fa fa-check"></i> Features</div>
                <ul class="list">
                    <li class="item">Passcode access</li>
                    <li class="item">Responsive Design (fits any screen)</li>
                    <li class="item">Select favorites</li>
                    <li class="item">Keyboard shortcuts</li>
                    <li class="item">Photo cost calculator</li>
                    <li class="item">View all & favorites</li>
                    <li class="item">View thumbnails & fullscreen</li>
                    <li class="item">Send photos to photographer</li>
                </ul>
            </div>
            <div class="services section">
                <div class="heading"><i class="icon fa fa-wrench"></i> My Work</div>
                <ul class="list">
                    <li class="item">Full Web App</li>
                    <li class="item">Design Augmentation</li>
                    <li class="item">User Interface</li>
                    <li class="item">User Experience</li>
                    <li class="item">Mobile Site</li>
                    <li class="item">Cloud Deployment</li>
                </ul>
            </div>
            <div class="technologies section">
                <div class="heading"><i class="icon fa fa-cogs"></i> Technologies</div>
                <ul class="list">
                    <li class="item"><a target="_blank" href="https://www.python.org/">Python</a></li>
                    <li class="item"><a target="_blank" href="https://www.djangoproject.com/">Django</a></li>
                    <li class="item"><a target="_blank" href="http://aws.amazon.com/s3/">Amazon S3</a></li>
                    <li class="item"><a target="_blank" href="https://www.heroku.com/">Heroku</a></li>
                    <li class="item"><a target="_blank" href="http://getbootstrap.com/">Twitter Bootstrap</a></li>
                    <li class="item"><a target="_blank" href="http://lesscss.org/">LESS</a></li>
                    <li class="item"><a target="_blank" href="http://en.wikipedia.org/wiki/Cascading_Style_Sheets">CSS3</a></li>
                    <li class="item"><a target="_blank" href="http://en.wikipedia.org/wiki/HTML5">HTML5</a></li>
                    <li class="item"><a target="_blank" href="https://postmarkapp.com/">Postmark</a></li>
                    <li class="item"><a target="_blank" href="http://www.postgresql.org/">PostgreSQL</a></li>
                    <li class="item"><a target="_blank" href="https://getsentry.com/">Sentry</a></li>
                    <li class="item"><a target="_blank" href="http://en.wikipedia.org/wiki/JavaScript">Javascript</a></li>
                    <li class="item">...and many others!</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="project">
        <h1 class="project_title">
            Kai Morimoto Plastic Surgery
            <div class="sub-heading">Primary Marketing Site</div>
        </h1>
        <div class="preview">
            <img class="image" src="img/kmp-preview.jpg" alt=""/>
        </div>
        <div class="info">
            <div class="features section">
                <div class="heading"><i class="icon fa fa-check"></i> Features</div>
                <ul class="list">
                    <li class="item">Giant Animated Nav</li>
                    <li class="item">Image Slider</li>
                    <li class="item">Tap to Call Phone Always on Page</li>
                    <li class="item">Testimonials</li>
                    <li class="item">Online Booking Form</li>
                    <li class="item">Product Catalog</li>
                    <li class="item">Responsive Design (fits any screen)</li>
                </ul>
            </div>
            <div class="services section">
                <div class="heading"><i class="icon fa fa-wrench"></i> My Work</div>
                <ul class="list">
                    <li class="item">Branding</li>
                    <li class="item">Custom Logo</li>
                    <li class="item">Custom Theme</li>
                    <li class="item">Stock Imagery</li>
                </ul>
            </div>
            <div class="technologies section">
                <div class="heading"><i class="icon fa fa-cogs"></i> Technologies</div>
                <ul class="list">
                    <li class="item"><a target="_blank" href="http://www.php.net/">PHP</a></li>
                    <li class="item"><a target="_blank" href="http://en.wikipedia.org/wiki/HTML5">HTML5</a></li>
                    <li class="item"><a target="_blank" href="http://en.wikipedia.org/wiki/Cascading_Style_Sheets">CSS3</a>
                    </li>
                    <li class="item"><a target="_blank" href="http://lesscss.org/">LESS</a></li>
                    <li class="item"><a target="_blank" href="http://en.wikipedia.org/wiki/JavaScript">Javascript</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="project">
        <h1 class="project_title">
            Perfection Tire
            <div class="sub-heading">Multi-Store Corporate Site</div>
        </h1>
        <div class="preview">
            <img class="image" src="img/perfection-full.jpg" alt=""/>
        </div>
        <div class="info">
            <div class="features section">
                <div class="heading"><i class="icon fa fa-check"></i> Features</div>
                <ul class="list">
                    <li class="item">YouTube Commercials</li>
                    <li class="item">Store Locator</li>
                    <li class="item">Coupons</li>
                    <li class="item">Product Catalog</li>
                    <li class="item">Responsive Design (fits any screen)</li>
                </ul>
            </div>
            <div class="services section">
                <div class="heading"><i class="icon fa fa-wrench"></i> My Work</div>
                <ul class="list">
                    <li class="item">Update Old Design</li>
                    <li class="item">Stock Imagery</li>
                    <li class="item">Custom Theme</li>
                    <li class="item">Custom Icons</li>
                    <li class="item">Brand Repurposing (not just tires)</li>
                    <li class="item">Item Catalog Prototype</li>
                </ul>
            </div>
            <div class="technologies section">
                <div class="heading"><i class="icon fa fa-cogs"></i> Technologies</div>
                <ul class="list">
                    <li class="item"><a target="_blank" href="https://www.heroku.com/">Heroku</a></li>
                    <li class="item"><a target="_blank" href="http://angularjs.org/">AngularJS</a></li>
                    <li class="item"><a target="_blank" href="http://isotope.metafizzy.com/">Isotope</a></li>
                    <li class="item"><a target="_blank" href="http://en.wikipedia.org/wiki/HTML5">HTML5</a></li>
                    <li class="item"><a target="_blank" href="http://en.wikipedia.org/wiki/Cascading_Style_Sheets">CSS3</a>
                    </li>
                    <li class="item"><a target="_blank" href="http://lesscss.org/">LESS</a></li>
                    <li class="item"><a target="_blank" href="http://en.wikipedia.org/wiki/JavaScript">Javascript</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="project">
        <h1 class="project_title">
            Richards Law LLC
            <div class="sub-heading">Primary Marketing Site</div>
        </h1>
        <div class="preview">
            <img class="image" src="img/richards-preview.jpg" alt=""/>
        </div>
        <div class="info">
            <div class="features section">
                <div class="heading"><i class="icon fa fa-check"></i> Features</div>
                <ul class="list">
                    <li class="item">YouTube Commercial</li>
                    <li class="item">Sticky Header</li>
                    <li class="item">Free Consultation Form</li>
                    <li class="item">Awards & Recognition</li>
                    <li class="item">Single Page Site</li>
                    <li class="item">Responsive Design (fits any screen)</li>
                </ul>
            </div>
            <div class="services section">
                <div class="heading"><i class="icon fa fa-wrench"></i> My Work</div>
                <ul class="list">
                    <li class="item">Logo Rework</li>
                    <li class="item">Stock Imagery</li>
                    <li class="item">Custom Theme</li>
                    <li class="item">Custom Icons</li>
                    <li class="item">Google Map</li>
                    <li class="item">Rapid Prototype</li>
                </ul>
            </div>
            <div class="technologies section">
                <div class="heading"><i class="icon fa fa-cogs"></i> Technologies</div>
                <ul class="list">
                    <li class="item"><a target="_blank" href="http://en.wikipedia.org/wiki/HTML5">HTML5</a></li>
                    <li class="item">
                        <a target="_blank" href="http://en.wikipedia.org/wiki/Cascading_Style_Sheets">CSS3</a>
                    </li>
                    <li class="item"><a target="_blank" href="http://lesscss.org/">LESS</a></li>
                    <li class="item"><a target="_blank" href="http://en.wikipedia.org/wiki/JavaScript">Javascript</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
