<!DOCTYPE html>
<html class="no-js" ng-app="ltApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Levi Thomason</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- CSS -->
    <link rel="stylesheet" href="css/normalize.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/lt-main.css">

    <!-- Java Script -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-animate.min.js"></script>
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    <script src="js/controller.js"></script>

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:100,400,700' rel='stylesheet' type='text/css'>

</head>

<body ng-controller="ltMainController" ng-init="ltInit()" ng-show="initialized">
<!--[if lt IE 7]>
<p class=chromeframe>Your browser is <em>ancient!</em>
    <a href="http://browsehappy.com/">Upgrade to a different browser</a> or
    <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.
</p>
<![endif]-->
<div class="container" ng-class="menu.section">
    <nav class="menu">
        <div class="logo" ng-click="logo.clicked()">
            <img class="image" ng-src="{{ logo.src }}" alt=""/>
            <div class="text">
                <div class="name">Levi Thomason</div>
                <div class="title">Web Developer</div>
            </div>
        </div>
        <div class="menu-item" ng-repeat="i in menu.items" ng-class="i.classes()">
            <div class="text" ng-click="menu.setSection(i.key)">{{ i.name }}</div>
        </div>
    </nav>

    <div class="main">
        <div class="work page" ng-show="menu.isSection('work')">
            <div class="project">
                <h1 class="project_title">
                    SparrowBleu Photography
                    <div class="sub-heading">Client Proofing Galleries</div>
                </h1>
                <div class="description">
                        You can <a href="http://proofing.sparrowbleuphotography.com" target="_blank">try a demo here</a>
                        using passcode "<b>demo123</b>".
                </div>
                <div class="preview">
                    <img class="image" src="img/sparrowbleu-preview.jpg" alt=""/>
                </div>
                <div class="info">
                    <div class="features section">
                        <div class="heading"><i class="icon fa fa-check"></i> Features</div>
                        <ul class="list">
                            <li class="item">Passcode access</li>
                            <li class="item">Responsive Design (fits any screen)</li>
                            <li class="item">Select favorites</li>
                            <li class="item">Keyboard shortcuts</li>
                            <li class="item">Photo cost calculator</li>
                            <li class="item">View all & favorites</li>
                            <li class="item">View thumbnails & fullscreen</li>
                            <li class="item">Send photos to photographer</li>
                        </ul>
                    </div>
                    <div class="services section">
                        <div class="heading"><i class="icon fa fa-wrench"></i> Services</div>
                        <ul class="list">
                            <li class="item">Full Web App</li>
                            <li class="item">Design Augmentation</li>
                            <li class="item">User Interface</li>
                            <li class="item">User Experience</li>
                            <li class="item">Mobile Site</li>
                            <li class="item">Cloud Deployment</li>
                        </ul>
                    </div>
                    <div class="technologies section">
                        <div class="heading"><i class="icon fa fa-cogs"></i> Technologies</div>
                        <ul class="list">
                            <li class="item"><a href="https://www.python.org/">Python</a></li>
                            <li class="item"><a href="https://www.djangoproject.com/">Django</a></li>
                            <li class="item"><a href="http://aws.amazon.com/s3/">Amazon S3</a></li>
                            <li class="item"><a href="https://www.heroku.com/">Heroku</a></li>
                            <li class="item"><a href="https://postmarkapp.com/">Postmark</a></li>
                            <li class="item"><a href="http://www.postgresql.org/">PostgreSQL</a></li>
                            <li class="item"><a href="https://getsentry.com/">Sentry</a></li>
                            <li class="item"><a href="http://en.wikipedia.org/wiki/HTML5">HTML5</a></li>
                            <li class="item"><a href="http://en.wikipedia.org/wiki/Cascading_Style_Sheets">CSS3</a></li>
                            <li class="item"><a href="http://lesscss.org/">LESS</a></li>
                            <li class="item"><a href="http://en.wikipedia.org/wiki/JavaScript">Javascript</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="project">
                <h1 class="project_title">
                    Kai Morimoto Plastic Surgery
                    <div class="sub-heading">Primary Marketing Site</div>
                </h1>
                <div class="description">
                    I produced all artwork depicted below. I did not have the opportunity to build the <a href="http://www.kmplasticsurgery.com/" target="_blank">final site</a>.
                </div>
                <div class="preview">
                    <img class="image" src="img/kmp-preview.jpg" alt=""/>
                </div>
                <div class="info">
                    <div class="features section">
                        <div class="heading"><i class="icon fa fa-check"></i> Features</div>
                        <ul class="list">
                            <li class="item">Giant Animated Nav</li>
                            <li class="item">Image Slider</li>
                            <li class="item">Tap to Call Phone Always on Page</li>
                            <li class="item">Testimonials</li>
                            <li class="item">Online Booking Form</li>
                            <li class="item">Product Catalog</li>
                            <li class="item">Responsive Design (fits any screen)</li>
                        </ul>
                    </div>
                    <div class="services section">
                        <div class="heading"><i class="icon fa fa-wrench"></i> Services</div>
                        <ul class="list">
                            <li class="item">Branding</li>
                            <li class="item">Custom Logo</li>
                            <li class="item">Custom Theme</li>
                            <li class="item">Stock Imagery</li>
                        </ul>
                    </div>
                    <div class="technologies section">
                        <div class="heading"><i class="icon fa fa-cogs"></i> Technologies</div>
                        <ul class="list">
                            <li class="item"><a href="http://www.php.net/">PHP</a></li>
                            <li class="item"><a href="http://en.wikipedia.org/wiki/HTML5">HTML5</a></li>
                            <li class="item"><a href="http://en.wikipedia.org/wiki/Cascading_Style_Sheets">CSS3</a></li>
                            <li class="item"><a href="http://lesscss.org/">LESS</a></li>
                            <li class="item"><a href="http://en.wikipedia.org/wiki/JavaScript">Javascript</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="project">
                <h1 class="project_title">
                    Richards Law LLC
                    <div class="sub-heading">Primary Marketing Site</div>
                </h1>
                <div class="description">
                    Another design project I got to have a lot of fun with.  Two versions, one with custom icons headlining each section of the site and another with stock images.
                </div>
                <div class="preview">
                    <img class="image" src="img/richards-preview.jpg" alt=""/>
                </div>
                <div class="info">
                    <div class="features section">
                        <div class="heading"><i class="icon fa fa-check"></i> Features</div>
                        <ul class="list">
                            <li class="item">YouTube Commercial</li>
                            <li class="item">Sticky Header</li>
                            <li class="item">Free Consultation Form</li>
                            <li class="item">Awards & Recognition</li>
                            <li class="item">Single Page Site</li>
                            <li class="item">Responsive Design (fits any screen)</li>
                        </ul>
                    </div>
                    <div class="services section">
                        <div class="heading"><i class="icon fa fa-wrench"></i> Services</div>
                        <ul class="list">
                            <li class="item">Logo Rework</li>
                            <li class="item">Stock Imagery</li>
                            <li class="item">Custom Theme</li>
                            <li class="item">Custom Icons</li>
                            <li class="item">Google Map</li>
                            <li class="item">Rapid Prototype</li>
                        </ul>
                    </div>
                    <div class="technologies section">
                        <div class="heading"><i class="icon fa fa-cogs"></i> Technologies</div>
                        <ul class="list">
                            <li class="item"><a href="http://en.wikipedia.org/wiki/HTML5">HTML5</a></li>
                            <li class="item"><a href="http://en.wikipedia.org/wiki/Cascading_Style_Sheets">CSS3</a></li>
                            <li class="item"><a href="http://lesscss.org/">LESS</a></li>
                            <li class="item"><a href="http://en.wikipedia.org/wiki/JavaScript">Javascript</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="project">
                <h1 class="project_title">
                    Perfection Tire
                    <div class="sub-heading">Multi-Store Corporate Site</div>
                </h1>
                <div class="description">
                    Very short time frame for this design.  The development sounded like a great problem set to solve.  The coupons depicted were to be updated at a later date as well.
                </div>
                <div class="preview">
                    <img class="image" src="img/perfection-full.jpg" alt=""/>
                </div>
                <div class="info">
                    <div class="features section">
                        <div class="heading"><i class="icon fa fa-check"></i> Features</div>
                        <ul class="list">
                            <li class="item">YouTube Commercials</li>
                            <li class="item">Store Locator</li>
                            <li class="item">Coupons</li>
                            <li class="item">Product Catalog</li>
                            <li class="item">Responsive Design (fits any screen)</li>
                        </ul>
                    </div>
                    <div class="services section">
                        <div class="heading"><i class="icon fa fa-wrench"></i> Services</div>
                        <ul class="list">
                            <li class="item">Update Old Design</li>
                            <li class="item">Stock Imagery</li>
                            <li class="item">Custom Theme</li>
                            <li class="item">Custom Icons</li>
                            <li class="item">Brand Repurposing (not just tires)</li>
                            <li class="item">Item Catalog Prototype</li>
                        </ul>
                    </div>
                    <div class="technologies section">
                        <div class="heading"><i class="icon fa fa-cogs"></i> Technologies</div>
                        <ul class="list">
                            <li class="item"><a href="https://www.heroku.com/">Heroku</a></li>
                            <li class="item"><a href="http://angularjs.org/">AngularJS</a></li>
                            <li class="item"><a href="http://isotope.metafizzy.co/"></a>Isotope</li>
                            <li class="item"><a href="http://en.wikipedia.org/wiki/HTML5">HTML5</a></li>
                            <li class="item"><a href="http://en.wikipedia.org/wiki/Cascading_Style_Sheets">CSS3</a></li>
                            <li class="item"><a href="http://lesscss.org/">LESS</a></li>
                            <li class="item"><a href="http://en.wikipedia.org/wiki/JavaScript">Javascript</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="services page" ng-show="menu.isSection('services')">
            <section>
                <h2>Web Development</h2>
                <ul>
                    <li>Web Applications</li>
                    <li>Mobile Web Applications</li>
                </ul>
                <h2>Web Design</h2>
                <ul>
                    <li>Custom Website</li>
                    <li>Branding</li>
                    <li>Logo Design</li>
                    <li>Stationery</li>
                </ul>
            </section>
        </div>
        <div class="about page" ng-show="menu.isSection('about')">
            <!--
            <div class="stats">
                <div class="group development">
                    Development
                    <div class="sub-group frontend">
                        Frontend
                        <div class="skill css">CSS</div>
                        <div class="skill html">HTML5</div>
                        <div class="skill html">JavaScript</div>
                    </div>
                    <div class="sub-group backend">
                        Backend
                        <div class="skill python">Python</div>
                        <div class="skill python">Django</div>
                        <div class="skill python">PostgreSQL</div>
                    </div>
                </div>
                <div class="group design">
                    Design
                    <div class="sub-group ux">
                        UX
                        <div class="skill photoshop">Photoshop</div>
                        <div class="skill illustrator">Illustrator</div>
                    </div>
                    <div class="sub-group ui">
                        UI
                    </div>
                </div>
                <div class="group development">
                    Project Management
                    <div class="sub-group frontend">Frontend</div>
                    <div class="sub-group backend">Backend</div>
                </div>
                <div class="skill skill-1"></div>
                <div class="skill skill-1"></div>
                <div class="skill skill-1"></div>
                <div class="skill skill-1"></div>
                <div class="skill skill-1"></div>
            </div>
            -->
            <div class="content">
                <div class="intro">I love life.  I also love a lot of things in my life.</div>

                <div class="section">

                    <div class="content">
                        <img class="image" src="img/wedding.jpg" alt=""/>

                        <div class="text">
                            <div class="title">My Anchor</div>
                            Without this beautiful mexican I'd be much less of a person.  Aside from holding my world together she is also an amazing
                            <a href="https://www.facebook.com/SparrowBleuPhotography">Photographer</a>.
                        </div>
                    </div>
                </div>

                <div class="section">

                    <div class="content">
                        <img class="image" src="img/violet.jpg" alt=""/>

                        <div class="text">
                        <div class="title">Violet</small></div>
                            The greatest experience in life is to make it.  We thank God for this one daily.
                        </div>
                    </div>
                </div>

                <div class="section">

                    <div class="content">
                        <img class="image" src="img/koala.jpg" alt=""/>

                        <div class="text">
                            <div class="title">Koala Bear <small>(aka Violet)</small></div>
                            This little koala bear is the greatest thing to happen to me and my wife.  We love her to pieces!
                        </div>
                    </div>
                </div>

                <div class="section">
                    <div class="content">
                        <img class="image" src="img/canon.jpg" alt=""/>

                        <div class="text">
                            <div class="title">Canon</div>
                            Canon is a high energy <a href="http://en.wikipedia.org/wiki/Cockapoo" target="_blank">cockapoo</a>.  He and I are a great match.
                        </div>
                    </div>
                </div>

                <div class="section">
                    <div class="content">
                        <img class="image" src="img/drums.jpg" alt=""/>

                        <div class="text">
                            <div class="title">Drums</div>
                            Oh man, I sure do love me some good drummin'.  The constant tapping and failed attempts at beat boxing sometimes elicit a well intended 'stop that!' from family and friends... and work.  The beat goes on!
                        </div>
                    </div>
                </div>

                <div class="section">
                    <div class="content">
                        <img class="image" src="img/80s.jpg" alt=""/>

                        <div class="text">
                            <div class="title">1980's Child</div>
                            My middle name is 'Cruz N'.  Literally.  Cause that's how cool the 80s are.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="quote page" ng-show="menu.isSection('quote')">

        </div>
    </div>
</div>

<!-- Java Script -->
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>
<script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-47264104-1', 'levithomason.com');
    ga('send', 'pageview');

</script>
</body>
</html>
