/********************************************************
 * Box model
 *******************************************************/
/********************************************************
 * Text
 *******************************************************/
/********************************************************
 * Transitions
 *******************************************************/
/********************************************************
 * Transitions
 *******************************************************/
body {
  font-family: 'Alegreya Sans', sans-serif;
  background: #efefeb;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #504d4d;
}
img {
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}
small {
  color: #9f9e9c;
}
.container {
  padding: 0 20px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 728px;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 920px;
  }
}
.page_intro {
  font-size: 36px;
  font-weight: 200;
  margin: 60px 0 40px;
  text-align: center;
}
.lt-btn {
  display: inline-block;
  padding: 0 5px;
  color: #fff;
  text-decoration: none;
  border-bottom: 4px solid #760000;
  border-radius: 2px;
  background: #9e0000;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}
.lt-btn:hover {
  text-decoration: none;
  background: #a90000;
  color: #fff;
}
.lt-btn:active {
  position: relative;
  top: 1px;
  margin-bottom: 1px;
  border-bottom-width: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.lt-btn .text {
  padding: 5px;
}
.lt-btn .text + .icon {
  padding-left: 0;
}
.lt-btn .icon {
  display: inline-block;
  padding: 5px;
}
.lt-btn .icon + .text {
  padding-left: 0;
}
.main_nav {
  position: relative;
  overflow: hidden;
  background: #f9f9f7;
  box-shadow: 0 0 4px #8f8f8d;
  z-index: 999;
}
.main_nav .link {
  float: left;
  width: 20%;
  max-width: 100px;
  font-size: 16px;
  line-height: 60px;
  text-align: center;
  text-decoration: none;
  border: none;
}
.main_nav .link img {
  max-height: 40px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1;
}
h1 .sub-heading,
h2 .sub-heading,
h3 .sub-heading,
h4 .sub-heading,
h5 .sub-heading,
h6 .sub-heading {
  font-size: 80%;
  font-weight: 100;
  color: #988;
  line-height: 1.2;
}
a {
  color: #8f0000;
  text-decoration: none;
  border-bottom: 1px dashed rgba(143, 0, 0, 0.3);
}
a:hover {
  color: #a90000;
  border-bottom-color: rgba(143, 0, 0, 0.4);
}
a:active {
  color: #5c0000;
  border-bottom-color: rgba(143, 0, 0, 0.5);
}
#home_page {
  position: absolute;
  display: inline-table;
  margin: auto;
  top: 60px;
  left: 0;
  bottom: 20%;
  right: 0;
  width: 100%;
  text-align: center;
}
#home_page .image {
  margin-top: 0;
  width: 130px;
}
#home_page .text {
  font-size: 21px;
  margin-top: 20px;
  margin-bottom: 100px;
  text-transform: uppercase;
  color: #8f0000;
  overflow: hidden;
}
#home_page .text .name {
  font-weight: 700;
}
#home_page .text .title {
  color: #3f3f3f;
  letter-spacing: 1px;
  font-weight: 100;
  margin-top: 2px;
}
#home_page .social {
  margin: 40px 0;
}
#home_page .social .site {
  display: inline-block;
  margin: 20px 40px;
  line-height: 1;
}
#home_page .social .site:hover .icon,
#home_page .social .site:hover .link {
  color: #504d4d;
}
#home_page .social .site .icon {
  font-size: 28px;
  color: #686565;
}
#home_page .social .site .link {
  font-size: 12px;
  color: #908e8c;
  border: none;
}
#portfolio_page .project {
  border-bottom: 2px solid #DDD;
}
#portfolio_page .project + .project {
  padding: 40px 0;
}
#portfolio_page .project .description {
  margin: 20px 0;
}
#portfolio_page .project .preview {
  margin: 40px 0;
}
#portfolio_page .project .preview .image {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}
#portfolio_page .project .info {
  overflow: hidden;
  color: #908d8d;
}
#portfolio_page .project .info .list {
  padding: 0;
  margin: 0;
}
#portfolio_page .project .info .list .item {
  float: left;
  list-style: none;
  padding: 6px 10px;
}
#portfolio_page .project .info .section {
  float: left;
  width: 30%;
  margin: 0 1.666%;
}
#portfolio_page .project .info .section.features .list .item {
  clear: both;
}
#portfolio_page .project .info .section .heading {
  margin: 10px 0;
  line-height: 1.5;
  border-bottom: 1px solid #DDD;
}
#portfolio_page .project .info .section .heading .icon {
  margin-right: 2px;
}
#resume_page .header {
  margin-bottom: 10px;
}
#resume_page .header h1 {
  margin-bottom: 0;
}
#resume_page .description {
  text-align: justify;
}
@media (min-width: 1024px) {
  #resume_page .description {
    float: left;
    width: 55%;
  }
}
#resume_page .stats {
  margin: 60px 0;
}
@media (min-width: 1024px) {
  #resume_page .stats {
    float: right;
    width: 40%;
    margin: 0;
  }
}
#resume_page .stats .chart {
  position: relative;
  height: 200px;
}
#resume_page .stats .chart .groups {
  height: 100%;
  padding-right: 70px;
  border-bottom: 1px solid #3f3f3f;
}
#resume_page .stats .chart .groups .group {
  position: relative;
  float: left;
  height: 100%;
  box-sizing: border-box;
  border: 10px solid transparent;
  border-bottom: none;
}
#resume_page .stats .chart .groups .group .bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #AAA;
}
#resume_page .stats .chart .grid {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#resume_page .stats .chart .grid .line {
  margin-top: 1px;
  height: 25%;
  border-top: 1px dashed rgba(143, 0, 0, 0.25);
  text-align: right;
  box-sizing: border-box;
  line-height: 0;
}
#resume_page .stats .chart .grid .label {
  display: inline-block;
  padding-left: 10px;
  color: rgba(63, 63, 63, 0.5);
  background: #efefeb;
  line-height: 1;
  margin-top: -24px;
  text-align: left;
}
#resume_page .stats .labels {
  padding-right: 70px;
}
#resume_page .stats .labels .label {
  display: inline-block;
  padding: 10px 0;
  font-size: 16px;
  font-weight: 500;
  color: #8f0000;
  text-transform: uppercase;
  text-align: center;
}
#resume_page .projects .project {
  margin-bottom: 60px;
}
@media (min-width: 768px) {
  #resume_page .projects .project {
    float: left;
    width: 50%;
  }
}
#resume_page .projects .project .name {
  font-size: 21px;
}
#resume_page .projects .project .position {
  font-weight: bold;
}
#resume_page .looking_for {
  padding-bottom: 100px;
}
#about_page .section {
  margin-bottom: 80px;
  overflow: hidden;
  background: #fafaf9;
}
#about_page .section:nth-child(odd) {
  text-align: right;
}
#about_page .section:nth-child(odd) .image {
  float: right;
}
#about_page .section:nth-child(odd) .text {
  float: right;
  margin-right: 5%;
  margin-left: 0;
}
#about_page .section .title {
  font-size: 32px;
  font-weight: 100;
  color: #8f0000;
  margin: 20px 0 10px 0;
}
#about_page .section .image {
  display: inline-block;
  width: 20%;
  vertical-align: top;
  float: left;
}
#about_page .section .text {
  float: left;
  margin-left: 5%;
  margin-bottom: 20px;
  width: 75%;
  color: #3f3f3f;
  font-size: 21px;
}
@media (max-width: 1024px) {
  #about_page .section .image {
    width: 30%;
  }
  #about_page .section .text {
    width: 65%;
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  #about_page .section {
    box-shadow: 0 1px 2px #CCC;
    margin-bottom: 40px;
  }
  #about_page .section .image {
    width: 100%;
  }
  #about_page .section .text {
    width: 90%;
  }
}
@media print {
  a {
    color: #8f0000 !important;
  }
  a[href]:after {
    content: none;
  }
  a * {
    color: #8f0000 !important;
  }
  hr {
    page-break-after: always;
    visibility: hidden;
  }
  #resume_page .stats .bar {
    background-color: #AAA !important;
    border: 4px solid #AAA;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  #resume_page .project {
    float: left;
    width: 50%;
  }
}
