<div id="contact_page">

    <div class="page_intro">We should definitely chat</div>

    <div class="contact_method phone">
        <i class="method_icon fa fa-mobile"></i>
        <br/>
        <a href="tel:(208) 699-4042">(208) 699-4042</a>
    </div>
    <div class="contact_method email">
        <i class="method_icon fa fa-globe"></i>
        <br/>
        <a href="mailto:me@levithomason.com">
            me@levithomason.com
        </a>
    </div>

    <div class="contact_method social">
        <i class="method_icon fa fa-share-alt"></i>
        <br/>
        <a href="https://www.github.com/levithomason" class="link" target="_blank">
            <div class="icon"><i class="fa fa-github"></i></div>
            <div class="text">@levithomason</div>
        </a>
        <a href="https://www.linkedin.com/in/levithomason" class="link" target="_blank">
            <div class="icon"><i class="fa fa-linkedin"></i></div>
            <div class="text">Levi Thomason</div>
        </a>
        <a href="http://plus.google.com/+levithomason7" class="link" target="_blank">
            <div class="icon"><i class="fa fa-google-plus"></i></div>
            <div class="text">+LeviThomason7</div>
        </a>
        <a href="https://twitter.com/levithomason7" class="link" target="_blank">
            <div class="icon"><i class="fa fa-twitter"></i></div>
            <div class="text">@levithomason7</div>
        </a>
        <a href="https://facebook.com/levi.thomason.7" class="link" target="_blank">
            <div class="icon"><i class="fa fa-facebook"></i></div>
            <div class="text">Levi Thomason</div>
        </a>
    </div>

</div>
